.squares {
    background-color: rgb(138, 43, 226);
    width: 30%;
    margin: 1.66%;
    float: left;
    padding-bottom: 30%;
    border-radius: 10%;
}

.game-area {
    max-width: 600px;
    margin: auto;
}

h1 {
    color: rgb(80, 205, 255);
    text-align: center;
}
h2 {
    color: rgb(80, 205, 255);
    text-align: center;
}
h3 {
    color: rgb(80, 205, 255);
    text-align: center;
    background-color: black;
}