h1 {
    background-color: rgb(138, 43, 226);
    text-align: center;
    font-size: xxx-large;
    font-family: cursive;
    margin: 20px;
    padding: 20px;
    color: white;
}

h2 {
    /* color: rgb(138, 43, 226); */
    text-align: center;
    font-size: xxx-large;
    font-family: cursive;
}

h3 {
    color: rgb(138, 43, 226);
    text-align: center;
    font-size: xx-large;
    font-family: cursive;
}

footer {
    background-color: rgb(138, 43, 226);
    /* background-image: linear-gradient(to right, rgb(80, 205, 255),rgb(138, 43, 226) ); */
    float: left;
    width: 100%;
    text-align: center;
    color: white;
    margin: 20px;
    font-family: cursive;
}

a {
    color: white;
}

.squares {
    background-color: rgb(138, 43, 226);
    width: 30%;
    margin: 1.66%;
    float: left;
    padding-bottom: 30%;
    border-radius: 10%;
}

.game-area {
    max-width: 600px;
    margin: auto;
}

.reset-btn {
    width: 30%;
    margin: 20px;
    position: relative;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(1, 69, 255);
    color: white;
    border-radius: .5em;
    font-size: xx-large;
}

.make-black {
    color: black;
}